*{
	padding: 0;
	margin: 0;
}

body {
	background-color: #cccccc;
	font-family: Helvetica, sans-serif;
}

header {
	background-color: #bdc3c7;
}

div {
	text-align: center;
	background-color: #95a5a6;
}

img {
	padding: 40px;
}

h1 {
	text-align: left;
	color: #ecf0f1;
	font-family: Arial;
	padding: 20px;
	text-indent: 40px;
	background-color: #7f8c8d;
}

h2 {
	color: #000000;
}

#slogan {
	font-style: italic;
}

h3 {
	font-style: italic;
	color: #7f8c8d;
}

h2,h3 {
	text-align: center;
	padding: 10px;
}

p {
	color: #7f8c8d;
	text-align: center;
	text-indent: 100px;
	font-weight: lighter;
	font-size: 11pt
}

.block {
	margin: 10px;
}

li {
	color: #111;
	padding: 5px;
	text-indent: 50px;
}

a {
	color: #7f8c8d;
	font-weight: bold;
	text-decoration: none;
}